// VARS
// Fonts
$font-stack: MuseoSans, cursive, Arial, sans-serif;
$browser-context: 16; // Default

// Colors
$white: #fff;
$light-grey: #747474;
$dark-grey-heading: #232323;
$middle-grey-subtitle: #4b4b4b;
$middle-grey-subtitle-h: #a5a5a5;
$middle-grey-subtitle-l: #dbdbdb;
$middle-grey-flow: #333;
$light-grey-info: #9b9b9b;
$middle-grey-aside: #4a4a4a;

// FUNCTIONS
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// MIXINS
@mixin opacity($opacity) {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity*100)";
  /* IE 5-7 */
  filter: alpha(opacity=$opacity*100);
  /* Netscape */
  -moz-opacity: $opacity;
  /* Safari 1.x */
  -khtml-opacity: $opacity;
  /* Good browsers */
  opacity: $opacity;
}


@mixin transition($property, $duration, $timing-function, $delay:"") {
  -webkit-transition: $property $duration $timing-function #{$delay};
  -moz-transition: $property $duration $timing-function #{$delay};
  -ms-transition: $property $duration $timing-function #{$delay}; /* IE10 is actually unprefixed */
  -o-transition: $property $duration $timing-function #{$delay};
  transition: $property $duration $timing-function #{$delay};
}

@mixin text-shadow($xshift, $yshift, $blur, $color) {

}

// HELPER CLASSES
  /* Clearfix Class */
  .cf {
      *zoom: 1;
  }

  .cf:after {
      content: "";
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
  }

  